# Introduction to Python

- Variable
- Data Type Primary
  - Number
    - Integer
    - Float
  - String
  - Boolean
- Data Type Array (Collections of Data)
  - List
  - Tuple
  - Dictionary
  - Set
- Operation

---

Nama :  Muhammad Hafidz Adityaswara  
Batch :  HCK-012

---

In [2]:
# Run this block code

# Tampilkan Hello
print("HELLO")

# SC : ctrl + /

# print("WORLD")

HELLO

# Variable

Rules dari membuat nama variable:
- Dimulai dengan huruf
- Perhatikan plural / singular jika dalam bahasa inggris
- bisa camelCase, PascalCase, snake_case tidak kebab-case.


Buatlah 3 variable yaitu:
- variable name dan isi dengan namamu
- variable favoriteNumber isi dengan angka kesukaanmu
- variable isHungry dan isi True jika kamu lapar dann False jika kamu tidak lapar

In [5]:
# Code dibawah ini

name = "Hafidz"
favoriteNumber = 24
isHungry = False

# Data Type Primary

## Data Type Number

Terdapat Integer dan Float

### Latihan Integer

In [9]:
# Latihan kode disini (Ikuti dalam kelas)
print(favoriteNumber)
print(type(favoriteNumber))
print(favoriteNumber == favoriteNumber) # == equal, > >= < <= , != not equal
print(favoriteNumber == 100)

favoriteNumber = 50 #Reassigment
print(favoriteNumber)

# Harus ada = untuk mengubah value
favoriteNumber += 5 #55
favoriteNumber = favoriteNumber +5 #60
print(favoriteNumber)

print("=========")

# favoriteNumber dikurangi 10%
favoriteNumber = favoriteNumber - (favoriteNumber /10)
print(favoriteNumber)
print(type(favoriteNumber))

24
<class 'int'>
True
False
50
60
=========
54.0
<class 'float'>

### Latihan Float

In [10]:
print(favoriteNumber)
print(type(favoriteNumber))
print(int(favoriteNumber))  # Merubah data ke Integer (tambahkan 'int')

tigaSetengah = 1.5
print(int(tigaSetengah))
print(float(tigaSetengah))


tigaSetengah += 0.5
print(tigaSetengah)

decimalNumber = 3.16
print(round(decimalNumber, 1))

54.0
<class 'float'>
54
1
1.5
2.0
3.2

## Data Type String

Peruntukannya untuk text dapat menggunakan kutip 1 atau 2 ' "

In [17]:
# Latihan kode disini (Ikuti dalam kelas)
name = "Hafidz"
print(name)
print(type(name))
print(len(name))

# Coba tambahkan angka ke string
name += str(2)
name += ' Adit ' #spasi dihitung str
print(name)

# Coba fungsi len dengan ada spasi 
print(len(name))

# Coba akses character pertama dan kedua
# Index dimulai dari 0
print(name[0])
print(name[1])

Hafidz
<class 'str'>
6
Hafidz2 Adit
13
H
a

In [ ]:
# Ada 2 nama disimpan pada variable boy dan girl, hitung berapa character kedua variable

boy = "Adam" #4
girl = "hawa" # 4

### String itu case sensitive

In [56]:
print (1 == '1')
print(1)
print("1")

print("ayu" == "AYU")

print("======")
print(name)
print(name.upper())
print(name.lower())
name = " ayu sudi"
print(name.capitalize())
############################################

False
1
1
False
======
Hafidz2 Adit
HAFIDZ2 ADIT
hafidz2 adit
 ayu sudi

## Data Type Boolean

Yaitu True dan False

In [ ]:
# Latihan kode disini (Ikuti dalam kelas)
print(isHungry)
# print(1 == True)
# print(0 == False)

In [26]:
print(name, isHungry, favoriteNumber)
print(f"Namaku {name}, angka favoritku adalah {int(favoriteNumber)}, Satatu lapar {isHungry}.") #Rapih
print("Namaku " + name + ",angka favoritku adalah " + str(favoriteNumber) + " Satatu lapar " + str(isHungry) )

Hafidz2 Adit  False 54.0
Namaku Hafidz2 Adit , angka favoritku adalah 54, Satatu lapar False.
Namaku Hafidz2 Adit ,angka favoritku adalah 54.0 Satatu lapar False

# Data Type Array / Data Type For Collections of Data

Kalo w3school menyebutkannya sebagai [Python Collections (Arrays)](https://www.w3schools.com/python/python_lists.asp#:~:text=Python%20Collections%20(Arrays)).

----- note disini latihan menggunakaan markdown text yaa..

## List  [ ]

In [27]:
names = ["Bita", "Niku", "Riki" , "Ogi", "Naufal"]
print(names)
print(type(names))
print(names[0])

# Jumlah value/data/element dalam list
print(len(names))

# Hapus riki nari names
names.remove("Riki") # Menghapus dari list
names.append("Ayu") # Menampahkan list
print(names)

#Mengakses index terakhir
#Cara 1
n= len(names) -1
print(names[n])

# Cara 2 (Cepat)
print(names[-1])
print(names[-2])

['Bita', 'Niku', 'Riki', 'Ogi', 'Naufal']
<class 'list'>
Bita
5
['Bita', 'Niku', 'Ogi', 'Naufal', 'Ayu']
Ayu
Ayu
Naufal

In [28]:
numbers = [2000, 100, 5000, 100, 200]
#pass references
kumpulanAngka =numbers.copy() # Duplikat
print(kumpulanAngka)

# Default Ascending
kumpulanAngka.sort()
print(kumpulanAngka)

#Descending
kumpulanAngka.sort(reverse=True)
print(kumpulanAngka)

[2000, 100, 5000, 100, 200]
[100, 100, 200, 2000, 5000]
[5000, 2000, 200, 100, 100]

In [29]:
print(numbers)

[2000, 100, 5000, 100, 200]

### Pass References

In [35]:
listMakanan = ["Sushi", "Coklat", "Kopi"]
listMakananFavorite =listMakanan
listMakananFavorite.append("Yakult")
# Keduanya Berubah
print(listMakananFavorite)
print(listMakanan)

['Sushi', 'Coklat', 'Kopi', 'Yakult']
['Sushi', 'Coklat', 'Kopi', 'Yakult']

#Cara handle pass references

In [36]:
listMakananFavorite =listMakanan.copy()
listMakananFavorite.append("susu")
# Keduanya Berubah
print(listMakanan)
print(listMakananFavorite)

['Sushi', 'Coklat', 'Kopi', 'Yakult']
['Sushi', 'Coklat', 'Kopi', 'Yakult', 'susu']

In [37]:
print(listMakananFavorite[1:3])
print(listMakananFavorite[1])
print(listMakananFavorite[:3])

['Coklat', 'Kopi']
Coklat
['Sushi', 'Coklat', 'Kopi']

## Tuple ()

In [42]:
listInstructor =  ("Ayu", "Yuda", "Riki", "Sapta")
print(listInstructor)
print(type(listInstructor))
print(len(listInstructor))

('Ayu', 'Yuda', 'Riki', 'Sapta')
<class 'tuple'>
4

### SET { }

In [43]:
listInstructor =  set(listInstructor)
print(listInstructor)
print(type(listInstructor))
print(len(listInstructor))

{'Riki', 'Yuda', 'Sapta', 'Ayu'}
<class 'set'>
4

### Dictionary { }

In [41]:
persianCat =  {
    'name' : 'Luwy',
    'age' : 4,
    'weight' : 5.5,
    'height' : 50
}

print(persianCat)
print(len(persianCat))

# Akses value dengan keyname (bukan index)
print(persianCat['name'])

# Menambahkan keyname dan value baru
persianCat['isVaksin'] = True
print(persianCat)

#Mengubah value (juka keyname tsb sudah ada)
persianCat['name'] = 'Snowy'
print(persianCat)

{'name': 'Luwy', 'age': 4, 'weight': 5.5, 'height': 50}
4
Luwy
{'name': 'Luwy', 'age': 4, 'weight': 5.5, 'height': 50, 'isVaksin': True}
{'name': 'Snowy', 'age': 4, 'weight': 5.5, 'height': 50, 'isVaksin': True}

# EXERCISE

In [55]:
listAlphabet = [
    ['A', 'B', 'C'],
    ['D', 'E', 'F'],
    ['G', 'H', 'I'],
]

print(listAlphabet[0][0])
print()

print("=======")

listAlphabet1 = [
    ['0', 'Baba', 'Cici'],
    ['1', 'Efa', 'Fafa'],
    ['2', 'Hafidz', 'Iris'],
]
print(len(listAlphabet1[1][-1]))
print()

print("=======")

listHck12 = {
    "student" : ['bita', 'revo', 'niku', 'samuel', 'panji', 'yuda'],
    "buddy" : ['ayu', 'ayu', 'ayu', 'sapta', 'sapta', 'ayu'],
    "score" : [100, 100, 90, 90, 50]
}

print(listHck12['student'][1], listHck12['buddy'][1])
print(listHck12['score'])
print(max(listHck12['score']))
print(min(listHck12['score']))

A

=======
4

=======
revo ayu
[100, 100, 90, 90, 50]
100
50